n8n-workflows/test-workflow-v5-backup-2026-01-17.json
{
  "name": "TEST: Transurfing Bot v5 - Engaging Onboarding",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "fe67c348-8b66-456c-9fbc-9a9abadccf1b",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        720
      ],
      "webhookId": "9ea22cf9-8659-4b62-b987-9f811b385748",
      "credentials": {
        "telegramApi": {
          "id": "XlAeiZ4z9NX2UU0N",
          "name": "transerfing"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-voice",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.message?.voice }}",
              "rightValue": ""
            },
            {
              "id": "not-callback",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.callback_query }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "46c03f5b-0ed9-490b-af28-5dd0062b3208",
      "name": "❓ Is Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        336,
        720
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8229894344:AAG01r4rpN2h2mSMxKbjAu6UDypRgcg2rAg/getFile?file_id={{ $json.message.voice.file_id }}",
        "options": {}
      },
      "id": "5fce24bf-cce9-40a6-9c27-090a85253dce",
      "name": "🔊 Get Voice File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        656
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8229894344:AAG01r4rpN2h2mSMxKbjAu6UDypRgcg2rAg/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "4357a849-7851-48cc-8014-a7c53322bc5c",
      "name": "📥 Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nif (item.binary && item.binary.data) {\n  item.binary.data.fileName = item.binary.data.fileName.replace('.oga', '.ogg');\n  item.binary.data.mimeType = 'audio/ogg';\n  item.binary.data.fileExtension = 'ogg';\n}\nreturn item;"
      },
      "id": "cef25047-063a-40f4-89a3-979031d29224",
      "name": "🔄 Fix Audio Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer GROQ_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            }
          ]
        },
        "options": {}
      },
      "id": "1e7fb14f-8983-45c7-9cf3-91aecdafbca7",
      "name": "🎤 Groq Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Telegram Trigger').item.json;\nconst transcription = $json.text;\nconst result = {...trigger, message: {...trigger.message, text: transcription, original_voice: true}};\nreturn result;"
      },
      "id": "4cdde47b-007f-4b8b-98f2-df69d1420844",
      "name": "📝 Set Transcription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        656
      ]
    },
    {
      "parameters": {},
      "id": "37c973f5-9cd4-4dd9-900f-4b6463922cae",
      "name": "🔀 Merge Voice",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1680,
        720
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}"
            }
          ]
        }
      },
      "id": "d9ae7f4e-8e3c-466b-a9b7-18c4a30ba725",
      "name": "🔍 Find User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1904,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "user-exists",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "d39c4e87-f181-402f-8ea6-f03d91f9477a",
      "name": "❓ User Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        2128,
        720
      ]
    },
    {
      "parameters": {
        "tableId": "user_profiles",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ $('🔀 Merge Voice').item.json.message?.chat?.id || $('🔀 Merge Voice').item.json.callback_query?.message?.chat?.id }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $('🔀 Merge Voice').item.json.message?.from?.first_name || $('🔀 Merge Voice').item.json.callback_query?.from?.first_name }}"
            },
            {
              "fieldId": "telegram_username",
              "fieldValue": "={{ $('🔀 Merge Voice').item.json.message?.from?.username || $('🔀 Merge Voice').item.json.callback_query?.from?.username }}"
            }
          ]
        }
      },
      "id": "9caee554-ab66-4de6-8e25-e6d26f9937fc",
      "name": "➕ Create User",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2352,
        800
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "tableId": "user_states",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "onboarding_step",
              "fieldValue": "0"
            }
          ]
        }
      },
      "id": "b000a84a-b379-4b69-9fee-b767bffca9cf",
      "name": "📊 Create State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        800
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const user = $('➕ Create User').item.json;\nreturn user;"
      },
      "id": "81f26347-58ac-4c00-817d-0fec49fb6c07",
      "name": "🔧 Prepare User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        800
      ]
    },
    {
      "parameters": {},
      "id": "faab5ee4-d7c8-4a54-bd29-b607b5335cc2",
      "name": "🔀 Merge User",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3024,
        720
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_states",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "3e7178d8-e77b-4fd5-aada-318e21dda167",
      "name": "📋 Get State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3248,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🔀 Route Logic v7 — Добавлена обработка report callback и awaiting_report\n\nconst mergeVoice = $('🔀 Merge Voice').item.json;\nconst user = $('🔀 Merge User').item.json;\nconst state = $json;\n\nconst isCallback = !!mergeVoice.callback_query;\nconst callbackData = mergeVoice.callback_query?.data || '';\nconst text = mergeVoice.message?.text || '';\nconst chatId = mergeVoice.message?.chat?.id || mergeVoice.callback_query?.message?.chat?.id;\n\nconst step = state?.onboarding_step || 0;\nconst awaitingReport = state?.awaiting_report || false;\nconst isStart = text === '/start';\nconst isSlide = text === '/slide';\nconst isTask = /^(\\/task|задание|текущее задание)/i.test(text);\nconst isProgress = /^(\\/progress|прогресс)/i.test(text);\n\nlet route = 'deepseek';\nlet userMessage = text;\n\nif (isCallback) {\n  const callbackRoutes = {\n    'onb_explanation': 'show_explanation',\n    'onb_value': 'show_value',\n    'onb_name': 'ask_name',\n    'emoji_minimal': 'save_emoji_minimal',\n    'emoji_moderate': 'save_emoji_moderate',\n    'emoji_many': 'save_emoji_many',\n    'onb_slide_place': 'ask_slide_place',\n    'slide_save': 'save_final_slide',\n    'slide_rewrite': 'rewrite_slide',\n    'show_full_task': 'show_full_task_msg',\n    'ask_question': 'prompt_question',\n    'report': 'ask_for_report'\n  };\n  route = callbackRoutes[callbackData] || 'unknown_callback';\n}\nelse if (awaitingReport && text && text.length > 0) {\n  // Пользователь пишет отчёт\n  route = 'save_report';\n}\nelse if (!user.onboarded) {\n  if (isStart && step === 0) {\n    route = 'show_hook';\n  } else if (step === 1) {\n    route = 'save_name';\n  } else if (step === 2) {\n    route = 'save_slide_place';\n  } else if (step === 3) {\n    route = 'save_slide_people';\n  } else if (step === 4) {\n    route = 'save_slide_feeling';\n  }\n}\nelse {\n  if (isStart) {\n    route = 'welcome_back';\n  } else if (isSlide) {\n    route = 'show_slide';\n  } else if (isTask) {\n    route = 'show_full_task_msg';\n  } else if (isProgress) {\n    route = 'show_course_progress';\n  }\n}\n\nreturn {\n  route: route,\n  user_id: user.id,\n  telegram_chat_id: chatId,\n  user_message: userMessage,\n  callback_data: callbackData,\n  is_callback: isCallback,\n  user: user,\n  state: state,\n  trigger: mergeVoice,\n  awaiting_report: awaitingReport\n};"
      },
      "id": "59243d36-dbe5-4389-a2b8-e3e14bc1a09c",
      "name": "🔀 Route Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "r1",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.route }}",
              "rightValue": "deepseek"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "3fb0b9b6-e0c2-4058-aeec-ec1c0b5fc3f1",
      "name": "❓ Onboarding?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        3696,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// 🎯 Onboarding Handler v13 — Добавлено сообщение для save_report\n\nconst data = $json;\nconst route = data.route;\nconst userName = data.user?.preferred_name || data.user?.first_name || '';\n\nlet message = '';\nlet nextStep = null;\nlet saveName = null;\nlet saveStyle = null;\nlet saveSlidePlace = null;\nlet saveSlidePeople = null;\nlet saveSlideFeeling = null;\nlet saveFinalSlide = null;\nlet startCourseAction = false;\nlet inlineKeyboard = null;\nlet showFullTask = false;\nlet setAwaitingReport = false;\nlet saveReportData = null;\n\nswitch (route) {\n  case 'show_hook':\n    message = '✨ А что, если реальность — это не то, что с тобой происходит, а то, что ты сам выбираешь?\\n\\nЗвучит красиво, но обычно — пустые слова.\\n\\n🔮 78 дней — и ты проверишь на практике.';\n    inlineKeyboard = [[{text: '👉 Интересно, расскажи', callback_data: 'onb_explanation'}]];\n    nextStep = 0;\n    break;\n\n  case 'show_explanation':\n    message = '🔮 Трансерфинг — система управления реальностью. Не магия, не аффирмации, не \"думай позитивно\".\\n\\n🪞 Суть: мир — как зеркало. Показываешь страх — получаешь страшное. Показываешь спокойную уверенность — получаешь желаемое.\\n\\n📚 За 78 дней освоишь конкретные инструменты: как снижать важность, как работать с целью, как не кормить чужие \"маятники\" энергией.';\n    inlineKeyboard = [[{text: '🎯 Что я получу через 78 дней?', callback_data: 'onb_value'}]];\n    break;\n\n  case 'show_value':\n    message = '🎯 Через 78 дней у тебя будет:\\n\\n✅ Чёткая картина желаемого будущего\\n✅ Способность замечать, когда мир реагирует на мысли\\n✅ Набор техник для сложных ситуаций\\n✅ Спокойная уверенность вместо тревоги\\n\\n📅 Каждый день — одна практика. Не теория, а действие.';\n    inlineKeyboard = [[{text: '🚀 Начинаем', callback_data: 'onb_name'}]];\n    break;\n\n  case 'ask_name':\n    message = '🤝 Отлично. Я буду твоим проводником на эти 78 дней.\\n\\n💬 Как тебя зовут?';\n    nextStep = 1;\n    break;\n\n  case 'save_name':\n    saveName = data.user_message.trim();\n    message = `👋 Приятно познакомиться, ${saveName}!\\n\\n🎨 Как тебе комфортнее общаться?`;\n    inlineKeyboard = [\n      [{text: '📝 Минимум эмодзи', callback_data: 'emoji_minimal'}],\n      [{text: '😊 Умеренно', callback_data: 'emoji_moderate'}],\n      [{text: '🎉 Много эмодзи!', callback_data: 'emoji_many'}]\n    ];\n    nextStep = 1;\n    break;\n\n  case 'save_emoji_minimal':\n  case 'save_emoji_moderate':\n  case 'save_emoji_many':\n    saveStyle = route.replace('save_emoji_', '');\n    const nameForSlide = data.user?.preferred_name || data.user?.first_name || 'друг';\n    message = `🎬 ${nameForSlide}, главный инструмент курса — картинка твоего желаемого будущего.\\n\\n💭 Не абстрактная мечта, а конкретный образ: что ты видишь, когда цель достигнута? Где находишься? Кто рядом?\\n\\n🔄 Эту картинку нужно \"крутить\" в голове. Как кино от первого лица, где всё уже случилось.\\n\\n🎯 Мы называем это \"целевой слайд\".`;\n    inlineKeyboard = [[{text: '✨ Понятно, создаём слайд', callback_data: 'onb_slide_place'}]];\n    break;\n\n  case 'ask_slide_place':\n    message = '🌟 Представь: прошло время, ты достиг того, чего хочешь больше всего.\\n\\n👀 Что ты ВИДИШЬ вокруг?\\n📍 Где находишься? Какое это место?';\n    nextStep = 2;\n    break;\n\n  case 'save_slide_place':\n    saveSlidePlace = data.user_message;\n    message = '👥 Кто рядом с тобой в этой картине?\\n🎬 Что ты делаешь в этот момент?';\n    nextStep = 3;\n    break;\n\n  case 'save_slide_people':\n    saveSlidePeople = data.user_message;\n    message = '💫 Что ты ЧУВСТВУЕШЬ?\\n💖 Какие эмоции, ощущения в теле?';\n    nextStep = 4;\n    break;\n\n  case 'save_slide_feeling':\n    saveSlideFeeling = data.user_message;\n    nextStep = 4;\n    break;\n\n  case 'save_final_slide':\n    const finalPlace = data.state?.slide_place || '';\n    const finalPeople = data.state?.slide_people || '';\n    const finalFeeling = data.state?.slide_feeling || '';\n    saveFinalSlide = `${finalPlace}\\n\\n${finalPeople}\\n\\n${finalFeeling}`;\n    startCourseAction = true;\n    \n    message = '✅ Слайд сохранён!\\n\\n🚀 Курс начинается.\\n\\n📅 ДЕНЬ 1 ИЗ 78\\n\\n🌅 Сегодня — про пробуждение.\\n\\nКогда-то ты видел мир как чудо. Потом тебя \"усыпили\" — научили воспринимать только физическое. Пора вспомнить.\\n\\n👁️ Сегодня замечай моменты, когда жизнь как сон — автоматические действия, привычные маршруты. Просто замечай.\\n\\n🔑 Это первый шаг к управлению.';\n    inlineKeyboard = [\n      [{text: '📖 Полное задание', callback_data: 'show_full_task'}],\n      [{text: '❓ Задать вопрос', callback_data: 'ask_question'}]\n    ];\n    break;\n\n  case 'rewrite_slide':\n    message = '✏️ Хорошо, давай заново.\\n\\n🌟 Представь: прошло время, ты достиг того, чего хочешь больше всего.\\n\\n👀 Что ты ВИДИШЬ вокруг?\\n📍 Где находишься? Какое это место?';\n    nextStep = 2;\n    break;\n\n  case 'prompt_question':\n    message = '❓ О чём хочешь спросить?\\n\\n💬 Напиши свой вопрос — я помогу разобраться в практике.';\n    break;\n\n  case 'ask_for_report':\n    message = '📝 Расскажи, как прошла твоя практика сегодня?\\n\\nЧто заметил? Какие мысли или ощущения были?';\n    setAwaitingReport = true;\n    break;\n\n  case 'save_report':\n    // Данные для RPC — сообщение отправит 📤 Send Report Confirmation\n    saveReportData = {\n      telegram_id: data.trigger?.message?.chat?.id || data.telegram_chat_id,\n      report_text: data.user_message\n    };\n    break;\n\n  case 'show_full_task_msg':\n    showFullTask = true;\n    break;\n\n  case 'welcome_back':\n    const slide = data.state?.target_slide || 'не задан';\n    const uName = data.user?.preferred_name || data.user?.first_name || 'друг';\n    message = `👋 С возвращением, ${uName}!\\n\\n🎯 Твой целевой слайд:\\n\"${slide}\"\\n\\n💬 Хочешь обновить слайд или просто поговорим?`;\n    break;\n\n  case 'show_slide':\n    const currentSlide = data.state?.target_slide || null;\n    const slideName = data.user?.preferred_name || data.user?.first_name || 'друг';\n    if (currentSlide) {\n      message = `🎯 Твой целевой слайд, ${slideName}:\\n\\n\"${currentSlide}\"\\n\\n✏️ Чтобы обновить слайд, просто напиши мне новый текст — я пойму и сохраню ✨`;\n    } else {\n      message = `${slideName}, у тебя пока нет целевого слайда 🤔\\n\\n💭 Напиши мне свой слайд — картинку желаемого будущего от первого лица.`;\n    }\n    break;\n\n  default:\n    message = '🤔 Что-то пошло не так. Напиши /start чтобы начать сначала.';\n}\n\nreturn {\n  chat_id: data.telegram_chat_id,\n  text: message,\n  inline_keyboard: inlineKeyboard,\n  user_id: data.user_id,\n  next_step: nextStep,\n  save_name: saveName,\n  save_style: saveStyle,\n  save_slide_place: saveSlidePlace,\n  save_slide_people: saveSlidePeople,\n  save_slide_feeling: saveSlideFeeling,\n  save_final_slide: saveFinalSlide,\n  start_course_action: startCourseAction,\n  show_full_task: showFullTask,\n  set_awaiting_report: setAwaitingReport,\n  save_report_data: saveReportData,\n  route: route,\n  is_callback: data.is_callback,\n  callback_id: data.trigger?.callback_query?.id\n};"
      },
      "id": "74e10277-4171-41f6-a404-89c9473f89f4",
      "name": "🎯 Onboarding Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-main-chain",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.save_final_slide }}",
              "rightValue": ""
            },
            {
              "id": "dbf210b3-0b18-43f1-8a86-f9fa161b196a",
              "leftValue": "={{ $json.show_full_task }}",
              "rightValue": "boolean → is true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "skip-main-chain-001",
      "name": "❓ Skip Main Chain?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4144,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-name",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Onboarding Handler').item.json.save_name }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "254f4e8e-d5ec-4389-a715-5b0cc320cd65",
      "name": "❓ Save Name?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4368,
        176
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Onboarding Handler').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "preferred_name",
              "fieldValue": "={{ $('🎯 Onboarding Handler').item.json.save_name }}"
            }
          ]
        }
      },
      "id": "4adb7c17-f017-494d-85c5-9a3199b6bfcf",
      "name": "💾 Save Name",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4592,
        96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-style",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Onboarding Handler').item.json.save_style }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "17a51412-0895-4dd5-a8f0-328f4aaa0f76",
      "name": "❓ Save Style?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4816,
        176
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Onboarding Handler').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "preferences",
              "fieldValue": "={{ JSON.stringify({ emoji_style: $('🎯 Onboarding Handler').item.json.save_style }) }}"
            }
          ]
        }
      },
      "id": "f20c05fb-8bc9-4a3a-9ab4-c90c4da0d8dc",
      "name": "💾 Save Style",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5040,
        96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-slide-place",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Onboarding Handler').item.json.save_slide_place }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "f78bfd94-dc85-4e90-87ef-4571350d9074",
      "name": "❓ Save Slide (Onb)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        5264,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Преобразуй описание места в яркий образ целевого слайда.\\n\\nТребования:\\n- От первого лица, настоящее время\\n- Сохрани ВСЕ детали из оригинала\\n- Исправь орфографию и пунктуацию\\n- Сделай текст живым и образным\\n- НЕ добавляй то, чего нет в оригинале\\n- Ответ: ТОЛЬКО улучшенный текст, без пояснений\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('🎯 Onboarding Handler').item.json.save_slide_place) }}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "enhance-slide-place-001",
      "name": "✨ Enhance Slide Place",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5488,
        16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Whfndn5YFKSlLRKO",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_states",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Onboarding Handler').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "slide_place",
              "fieldValue": "={{ $json.choices[0].message.content }}"
            }
          ]
        }
      },
      "id": "be7b4768-428f-44f1-89aa-8f2a4bbf5399",
      "name": "💾 Save Slide (Onb)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5712,
        16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-slide-people",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Onboarding Handler').item.json.save_slide_people }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "bed010bb-a7e5-4fdd-b092-bda7d990a7d8",
      "name": "❓ Save Morning?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        5936,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Преобразуй описание людей и действий в яркий образ целевого слайда.\\n\\nТребования:\\n- От первого лица, настоящее время\\n- Сохрани ВСЕ детали из оригинала\\n- Исправь орфографию и пунктуацию\\n- Сделай текст живым и образным\\n- НЕ добавляй то, чего нет в оригинале\\n- Ответ: ТОЛЬКО улучшенный текст, без пояснений\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('🎯 Onboarding Handler').item.json.save_slide_people) }}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "enhance-slide-people-001",
      "name": "✨ Enhance Slide People",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6160,
        16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Whfndn5YFKSlLRKO",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_states",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Onboarding Handler').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "slide_people",
              "fieldValue": "={{ $json.choices[0].message.content }}"
            }
          ]
        }
      },
      "id": "0c3e5c79-26a3-4381-bf0a-520ab8e3b01b",
      "name": "💾 Save Morning",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6384,
        16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-slide-feeling",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Onboarding Handler').item.json.save_slide_feeling }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "2ace8576-3aab-4c62-9060-e144f97e5228",
      "name": "❓ Save Evening?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        6608,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Преобразуй описание чувств и ощущений в яркий образ целевого слайда.\\n\\nТребования:\\n- От первого лица, настоящее время\\n- Сохрани ВСЕ детали из оригинала\\n- Исправь орфографию и пунктуацию\\n- Сделай текст живым и образным\\n- НЕ добавляй то, чего нет в оригинале\\n- Ответ: ТОЛЬКО улучшенный текст, без пояснений\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('🎯 Onboarding Handler').item.json.save_slide_feeling) }}\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "id": "enhance-slide-feeling-001",
      "name": "✨ Enhance Slide Feeling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6832,
        16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Whfndn5YFKSlLRKO",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_states",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Onboarding Handler').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "slide_feeling",
              "fieldValue": "={{ $json.choices[0].message.content }}"
            }
          ]
        }
      },
      "id": "5960d483-1640-433d-af27-a72630657d3a",
      "name": "💾 Save Evening",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7056,
        16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Onboarding Handler').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "onboarded",
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "6f9f12ab-058b-4198-ba29-8ccdb5ce88a2",
      "name": "✅ Set Onboarded",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4704,
        -176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-final-slide",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Onboarding Handler').item.json.save_final_slide }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "afceb085-237e-4b52-a6a1-404b348f97a2",
      "name": "❓ Save Feature (Onb)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4144,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_states",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Onboarding Handler').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "target_slide",
              "fieldValue": "={{ $('🎯 Onboarding Handler').item.json.save_final_slide }}"
            }
          ]
        }
      },
      "id": "0d4cbbc0-7b28-434b-8439-4575472b4893",
      "name": "💾 Save Feature (Onb)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4368,
        -96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-next",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Onboarding Handler').item.json.next_step }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "26f2d4ea-6d9f-4490-8666-94a10e55ff7d",
      "name": "❓ Update Step?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        7616,
        176
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_states",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Onboarding Handler').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "onboarding_step",
              "fieldValue": "={{ $('🎯 Onboarding Handler').item.json.next_step }}"
            }
          ]
        }
      },
      "id": "c834b440-260a-43db-8d3f-af8350566768",
      "name": "📊 Update Step",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7840,
        96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8229894344:AAG01r4rpN2h2mSMxKbjAu6UDypRgcg2rAg/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('🎯 Onboarding Handler').item.json.chat_id }},\n  \"text\": {{ JSON.stringify($('🎯 Onboarding Handler').item.json.text) }}{{ $('🎯 Onboarding Handler').item.json.inline_keyboard ? ',\\n  \"reply_markup\": {\"inline_keyboard\": ' + JSON.stringify($('🎯 Onboarding Handler').item.json.inline_keyboard) + '}' : '' }}\n}",
        "options": {}
      },
      "id": "e96a0f94-95f4-4d11-b4bf-8803b8ba6258",
      "name": "📤 Send Onboarding Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8064,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "is-slide-feeling",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Onboarding Handler').item.json.save_slide_feeling }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "needs-slide-preview-001",
      "name": "❓ Needs Slide Preview?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        7168,
        16
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_states",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Onboarding Handler').item.json.user_id }}"
            }
          ]
        }
      },
      "id": "load-full-state-001",
      "name": "📋 Load Full State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7280,
        -64
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Объедини три части целевого слайда в один связный текст.\\n\\nТребования:\\n- Единое связное повествование от первого лица\\n- Настоящее время, как будто это происходит сейчас\\n- Сохрани ВСЕ детали из всех трёх частей\\n- Исправь орфографию и пунктуацию\\n- Сделай текст живым и образным\\n- НЕ добавляй того, чего нет в оригинале\\n- НЕ используй заголовки типа \\\"Место:\\\", \\\"Люди:\\\", \\\"Чувства:\\\"\\n- Ответ: только готовый текст слайда, без пояснений\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"МЕСТО: {{ $json.slide_place }}\\n\\nЛЮДИ И ДЕЙСТВИЯ: {{ $json.slide_people }}\\n\\nЧУВСТВА: {{ $json.slide_feeling }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 800\n}",
        "options": {}
      },
      "id": "enhance-full-slide-001",
      "name": "✨ Enhance Full Slide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7504,
        -64
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Whfndn5YFKSlLRKO",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8229894344:AAG01r4rpN2h2mSMxKbjAu6UDypRgcg2rAg/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('🎯 Onboarding Handler').item.json.chat_id }},\n  \"text\": \"🎯 Вот твой целевой слайд:\\n\\n───────────────\\n{{ $json.choices[0].message.content.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\\n───────────────\\n\\n🧭 Это твоя точка назначения. Будем возвращаться к ней весь курс.\",\n  \"reply_markup\": {\"inline_keyboard\": [[{\"text\": \"✅ Всё верно, сохраняем\", \"callback_data\": \"slide_save\"}], [{\"text\": \"✏️ Хочу переписать\", \"callback_data\": \"slide_rewrite\"}]]}\n}",
        "options": {}
      },
      "id": "send-slide-preview-001",
      "name": "📤 Send Slide Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7728,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "conversation_history",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('🔀 Route Logic').item.json.user_id }}"
            }
          ]
        }
      },
      "id": "aa47d63b-fbe7-4901-9332-c930400df5e3",
      "name": "📜 Get History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3696,
        1504
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"temperature\": 0.7,\n  \"max_tokens\": 1000\n}",
        "options": {}
      },
      "id": "0a66487d-286e-45b9-bd59-bd2f9a9b9a94",
      "name": "🤖 DeepSeek API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4368,
        1488
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Whfndn5YFKSlLRKO",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $json.choices[0].message.content;\nconst context = $('🔧 Build LLM Context2').item.json;\n\nlet slideToSave = null;\nlet featureRequest = null;\nlet changeName = null;\nlet changeStyle = null;\nlet cleanResponse = response;\n\nconst slideMatch = response.match(/\\{\\s*\"action\"\\s*:\\s*\"save_slide\"\\s*,\\s*\"slide\"\\s*:\\s*\"([^\"]+)\"\\s*\\}/i);\nif (slideMatch) { slideToSave = slideMatch[1]; cleanResponse = cleanResponse.replace(slideMatch[0], '').trim(); }\n\nconst featureMatch = response.match(/\\{\\s*\"action\"\\s*:\\s*\"feature_request\"\\s*,\\s*\"request\"\\s*:\\s*\"([^\"]+)\"\\s*\\}/i);\nif (featureMatch) { featureRequest = featureMatch[1]; cleanResponse = cleanResponse.replace(featureMatch[0], '').trim(); }\n\nconst nameMatch = response.match(/\\{\\s*\"action\"\\s*:\\s*\"change_name\"\\s*,\\s*\"name\"\\s*:\\s*\"([^\"]+)\"\\s*\\}/i);\nif (nameMatch) { changeName = nameMatch[1]; cleanResponse = cleanResponse.replace(nameMatch[0], '').trim(); }\n\nconst styleMatch = response.match(/\\{\\s*\"action\"\\s*:\\s*\"change_style\"\\s*,\\s*\"style\"\\s*:\\s*\"([^\"]+)\"\\s*\\}/i);\nif (styleMatch) { changeStyle = styleMatch[1]; cleanResponse = cleanResponse.replace(styleMatch[0], '').trim(); }\n\nreturn {\n  response: cleanResponse,\n  slideToSave: slideToSave,\n  featureRequest: featureRequest,\n  changeName: changeName,\n  changeStyle: changeStyle,\n  user_id: context.user_id,\n  telegram_chat_id: context.telegram_chat_id,\n  user_message: context.user_message\n};"
      },
      "id": "e6e33855-1ce0-4e22-af0d-40bcd73d98d6",
      "name": "🎯 Parse Actions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        1488
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-slide-ds",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.slideToSave }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "dc549f93-64ec-4127-94a1-9bd5b692fe91",
      "name": "❓ Has Slide?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4816,
        1488
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_states",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "target_slide",
              "fieldValue": "={{ $json.slideToSave }}"
            }
          ]
        }
      },
      "id": "b46928d1-f471-43b7-bf85-4047988209f9",
      "name": "💾 Save Slide (DS)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5040,
        768
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-feature",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Parse Actions').item.json.featureRequest }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "35f3ec3a-4adb-4e3b-aa20-c6cd43e4ef8f",
      "name": "❓ Has Feature Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        5264,
        864
      ]
    },
    {
      "parameters": {
        "tableId": "feature_requests",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('🎯 Parse Actions').item.json.user_id }}"
            },
            {
              "fieldId": "telegram_chat_id",
              "fieldValue": "={{ $('🎯 Parse Actions').item.json.telegram_chat_id }}"
            },
            {
              "fieldId": "request_text",
              "fieldValue": "={{ $('🎯 Parse Actions').item.json.featureRequest }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ $('🎯 Parse Actions').item.json.user_message }}"
            }
          ]
        }
      },
      "id": "5a9b2bc2-ca90-422f-8eae-29707eb6258e",
      "name": "💾 Save Feature Request",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5488,
        864
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-change-name",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Parse Actions').item.json.changeName }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "84466191-a6c9-419f-ad1c-13a3538080c9",
      "name": "❓ Change Name?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        5264,
        1056
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Parse Actions').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "preferred_name",
              "fieldValue": "={{ $('🎯 Parse Actions').item.json.changeName }}"
            }
          ]
        }
      },
      "id": "9482d9f8-b282-49f8-9d00-290f3dff8f90",
      "name": "💾 Save New Name",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5488,
        1056
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-change-style",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('🎯 Parse Actions').item.json.changeStyle }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "9f38bc81-074f-44d3-bb7b-d59c0546a40f",
      "name": "❓ Change Style?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        5264,
        1248
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Parse Actions').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "preferences",
              "fieldValue": "={{ JSON.stringify({ emoji_style: $('🎯 Parse Actions').item.json.changeStyle }) }}"
            }
          ]
        }
      },
      "id": "59a32f11-689c-43c2-9da1-3d95002fc967",
      "name": "💾 Save New Style",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5488,
        1248
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversation_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('🎯 Parse Actions').item.json.user_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('🎯 Parse Actions').item.json.user_message }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            }
          ]
        }
      },
      "id": "1b4d7a7e-3922-4257-a743-426a19b0165d",
      "name": "💾 Save User Msg",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5264,
        1440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversation_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('🎯 Parse Actions').item.json.user_id }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('🎯 Parse Actions').item.json.response }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            }
          ]
        }
      },
      "id": "09f1eb84-e4e7-4f74-b477-25291bf905b3",
      "name": "💾 Save Bot Msg",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5264,
        1824
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('🎯 Parse Actions').item.json.telegram_chat_id }}",
        "text": "={{ $('🎯 Parse Actions').item.json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "97d7f9b8-733d-4bef-89ae-3daaaff484b6",
      "name": "📤 Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5264,
        1632
      ],
      "webhookId": "b638bf9a-f2ec-4355-a91d-97d90abc67c4",
      "credentials": {
        "telegramApi": {
          "id": "XlAeiZ4z9NX2UU0N",
          "name": "transerfing"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🧘 Transurfing Bot v11\n\n### NEW:\n✨ Report handling (ask_for_report)\n✨ awaiting_report state\n\n### Flow:\nHandler → ❓ Show Full Task?\n  → true → 📋 Get Task → 📤 Send\n  → false → main chain",
        "height": 200,
        "width": 300,
        "color": 7
      },
      "id": "5d59c8a9-dcd9-49eb-9959-c1d772adcde4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "start-course",
              "leftValue": "={{ $json.start_course_action }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4144,
        464
      ],
      "id": "78696142-13c9-49cb-9914-8a1f7ec72285",
      "name": "❓ Start Course?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hwpxdefkixhrmspqkqsd.supabase.co/rest/v1/rpc/start_course",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3cHhkZWZraXhocm1zcHFrcXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc1NDIwNjQsImV4cCI6MjA4MzExODA2NH0.DcVYJEWfDVvgMTqvL9Yj5AZ-a1AVgNiCP9q6roBfCmQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3cHhkZWZraXhocm1zcHFrcXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc1NDIwNjQsImV4cCI6MjA4MzExODA2NH0.DcVYJEWfDVvgMTqvL9Yj5AZ-a1AVgNiCP9q6roBfCmQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_user_id\": \"{{ $('🎯 Onboarding Handler').item.json.user_id }}\", \"p_program_slug\": \"78days\" }",
        "options": {}
      },
      "id": "ecd8ae91-130f-44b7-bf18-493465b0b73b",
      "name": "🚀 Start Course RPC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4368,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hwpxdefkixhrmspqkqsd.supabase.co/rest/v1/rpc/get_course_task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3cHhkZWZraXhocm1zcHFrcXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc1NDIwNjQsImV4cCI6MjA4MzExODA2NH0.DcVYJEWfDVvgMTqvL9Yj5AZ-a1AVgNiCP9q6roBfCmQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3cHhkZWZraXhocm1zcHFrcXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc1NDIwNjQsImV4cCI6MjA4MzExODA2NH0.DcVYJEWfDVvgMTqvL9Yj5AZ-a1AVgNiCP9q6roBfCmQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_user_id\": \"{{ $('🔀 Route Logic').item.json.user_id }}\", \"p_program_slug\": \"78days\" }",
        "options": {}
      },
      "id": "c07ad2c0-34cf-4b3a-a9b4-74e7ae062663",
      "name": "📋 Get Course Task1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        1824
      ]
    },
    {
      "parameters": {
        "jsCode": "// 🔧 Build LLM Context v3.3\n\nconst routeData = $('🔀 Route Logic').first().json;\nconst userState = $('📋 Get State').first().json;\nconst courseTask = $('📋 Get Course Task1').first()?.json || {};\nconst history = $('📜 Get History').all() || [];\n\nconst preferredName = routeData.user?.preferred_name || routeData.user?.first_name || 'друг';\nconst targetSlide = userState?.target_slide || null;\n\nlet emojiStyle = 'moderate';\nif (routeData.user?.preferences) {\n  const prefs = typeof routeData.user.preferences === 'string' \n    ? JSON.parse(routeData.user.preferences) \n    : routeData.user.preferences;\n  emojiStyle = prefs.emoji_style || 'moderate';\n}\n\nconst currentDay = courseTask?.current_day || 1;\nconst totalDays = courseTask?.total_days || 78;\nconst taskTitle = courseTask?.task_title || 'Начало курса';\nconst taskContent = courseTask?.task_content || 'Добро пожаловать в курс!';\n\nconst isFirstContact = !history || history.length < 2;\n\nlet emojiInstruction = '';\nif (emojiStyle === 'minimal') {\n  emojiInstruction = 'Используй минимум эмодзи.';\n} else if (emojiStyle === 'many') {\n  emojiInstruction = 'Используй эмодзи активно.';\n} else {\n  emojiInstruction = 'Используй эмодзи умеренно.';\n}\n\nconst systemPrompt = `Ты — AI-коуч курса \"78 дней с Трансерфингом\".\n\n# Контекст\n- Имя: ${preferredName}\n- День курса: ${currentDay} из ${totalDays}\n- Задание дня: ${taskTitle}\n- Слайд: ${targetSlide || 'создаётся'}\n\n# ЗАДАНИЕ ДНЯ ${currentDay}\n${taskContent}\n\n# Поведение\n1. OFF-TOPIC запрещён\n2. Свобода внутри Трансерфинга\n3. Краткое приветствие с сутью задания\n4. Полное задание по запросу\n5. Мягкий возврат к практике\n\n${emojiInstruction}`;\n\nlet messages = [{ role: 'system', content: systemPrompt }];\n\nif (history && history.length > 0) {\n  const sortedHistory = history.slice(-20).reverse();\n  for (const msg of sortedHistory) {\n    if (msg.json.role && msg.json.content) {\n      messages.push({ role: msg.json.role, content: msg.json.content });\n    }\n  }\n}\n\nmessages.push({ role: 'user', content: routeData.user_message });\n\nreturn {\n  messages: messages,\n  user_id: routeData.user_id,\n  telegram_chat_id: routeData.telegram_chat_id,\n  user_message: routeData.user_message,\n  target_slide: targetSlide,\n  current_day: currentDay,\n  task_title: taskTitle\n};"
      },
      "id": "4c1e3682-c6d7-464e-b5b4-9305b6b60234",
      "name": "🔧 Build LLM Context2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "show-full-task",
              "leftValue": "={{ $json.show_full_task }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4144,
        608
      ],
      "id": "show-full-task-if-001",
      "name": "❓ Show Full Task?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hwpxdefkixhrmspqkqsd.supabase.co/rest/v1/rpc/get_course_task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3cHhkZWZraXhocm1zcHFrcXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc1NDIwNjQsImV4cCI6MjA4MzExODA2NH0.DcVYJEWfDVvgMTqvL9Yj5AZ-a1AVgNiCP9q6roBfCmQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3cHhkZWZraXhocm1zcHFrcXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc1NDIwNjQsImV4cCI6MjA4MzExODA2NH0.DcVYJEWfDVvgMTqvL9Yj5AZ-a1AVgNiCP9q6roBfCmQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_user_id\": \"{{ $('🎯 Onboarding Handler').item.json.user_id }}\", \"p_program_slug\": \"78days\" }",
        "options": {}
      },
      "id": "get-task-for-button-001",
      "name": "📋 Get Task For Button",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4368,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8229894344:AAG01r4rpN2h2mSMxKbjAu6UDypRgcg2rAg/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {\n    \"chat_id\": {{ $('🎯 Onboarding Handler').item.json.chat_id }},\n    \"text\": {{ JSON.stringify(\"📖 ДЕНЬ \" + $json.current_day + \" ИЗ \" + $json.total_days + \"\\n\\n🎯 \" + $json.task_title + \"\\n\\n\" + $json.task_content) }},\n    \"reply_markup\": {\"inline_keyboard\": [[{\"text\": \"❓ Задать вопрос\", \"callback_data\": \"ask_question\"}]]}\n  }",
        "options": {}
      },
      "id": "send-full-task-001",
      "name": "📤 Send Full Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4592,
        608
      ]
    },
    {
      "id": "281f9d7d-c386-4f60-aff4-59083e90064d",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4144,
        752
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "set-awaiting-report",
              "leftValue": "={{ $json.set_awaiting_report }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "❓ Set Awaiting Report?"
    },
    {
      "id": "8a6a94ef-403b-44b5-80d0-e7e3cec3bd74",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4368,
        752
      ],
      "parameters": {
        "operation": "update",
        "tableId": "user_states",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('🎯 Onboarding Handler').item.json.user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "awaiting_report",
              "fieldValue": "true"
            }
          ]
        }
      },
      "name": "💾 Set Awaiting Report",
      "credentials": {
        "supabaseApi": {
          "id": "eVA9cENByBOTkcLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "id": "49ad3151-65fb-429e-a5cd-bd8507bdf4a3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        4144,
        896
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "save-report-check",
              "leftValue": "={{ $json.save_report_data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "❓ Save Report?"
    },
    {
      "id": "dc5c757a-afc4-4678-be21-ef956e5d8f1b",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4368,
        896
      ],
      "parameters": {
        "method": "POST",
        "url": "https://hwpxdefkixhrmspqkqsd.supabase.co/rest/v1/rpc/save_report_and_advance_day",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3cHhkZWZraXhocm1zcHFrcXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc1NDIwNjQsImV4cCI6MjA4MzExODA2NH0.DcVYJEWfDVvgMTqvL9Yj5AZ-a1AVgNiCP9q6roBfCmQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3cHhkZWZraXhocm1zcHFrcXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc1NDIwNjQsImV4cCI6MjA4MzExODA2NH0.DcVYJEWfDVvgMTqvL9Yj5AZ-a1AVgNiCP9q6roBfCmQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_telegram_id\": {{ $('🎯 Onboarding Handler').item.json.save_report_data.telegram_id }}, \"p_report_text\": {{ JSON.stringify($('🎯 Onboarding Handler').item.json.save_report_data.report_text) }} }",
        "options": {}
      },
      "name": "🔄 Save Report RPC"
    },
    {
      "id": "34ecbeb3-1511-44a4-b49f-346c6bd19810",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4592,
        896
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8229894344:AAG01r4rpN2h2mSMxKbjAu6UDypRgcg2rAg/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('🔧 Build Report Context').item.json.chat_id }},\n  \"text\": {{ JSON.stringify($json.choices[0].message.content) }}\n}",
        "options": {}
      },
      "name": "📤 Send Report Reply"
    },
    {
      "id": "e1462093-0a98-459b-9a1e-d4c293f84b02",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        7840,
        176
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-text",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $('🎯 Onboarding Handler').item.json.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "name": "❓ Has Text?"
    },
    {
      "id": "bf37036c-4768-4437-8861-feee01165e62",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        1040
      ],
      "parameters": {
        "jsCode": "// Build context for DeepSeek report response\n\nconst rpcResult = $json; // {new_day, completed, ...}\nconst handler = $('🎯 Onboarding Handler').item.json;\nconst routeData = $('🔀 Route Logic').item.json;\n\nconst preferredName = routeData.user?.preferred_name || routeData.user?.first_name || 'друг';\nconst reportText = handler.save_report_data.report_text;\nconst newDay = rpcResult.new_day;\nconst completed = rpcResult.completed;\n\nconst systemPrompt = `Ты — AI-коуч курса \"78 дней с Трансерфингом\".\n\nПользователь ${preferredName} только что прислал отчёт о практике.\n\nЗАДАЧА:\n1. Тепло поблагодари за отчёт\n2. Кратко прокомментируй то, что написал пользователь (2-3 предложения)\n3. ${completed ? 'Поздравь с завершением курса!' : `Упомяни, что завтра День ${newDay}`}\n4. Пожелай доброй ночи\n\nСтиль: тёплый, поддерживающий, лаконичный. Используй эмодзи умеренно.`;\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  { role: 'user', content: reportText }\n];\n\nreturn {\n  messages: messages,\n  chat_id: handler.chat_id,\n  new_day: newDay,\n  completed: completed\n};"
      },
      "name": "🔧 Build Report Context"
    },
    {
      "id": "86c7c787-028f-407d-826f-f99ff8ae68f4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4816,
        1040
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"temperature\": 0.7,\n  \"max_tokens\": 500\n}",
        "options": {}
      },
      "name": "🤖 DeepSeek Report",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Whfndn5YFKSlLRKO",
          "name": "Header Auth account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "❓ Is Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Is Voice?": {
      "main": [
        [
          {
            "node": "🔊 Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 Merge Voice",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔊 Get Voice File": {
      "main": [
        [
          {
            "node": "📥 Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Download Audio": {
      "main": [
        [
          {
            "node": "🔄 Fix Audio Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Fix Audio Format": {
      "main": [
        [
          {
            "node": "🎤 Groq Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎤 Groq Whisper": {
      "main": [
        [
          {
            "node": "📝 Set Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Set Transcription": {
      "main": [
        [
          {
            "node": "🔀 Merge Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Merge Voice": {
      "main": [
        [
          {
            "node": "🔍 Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find User": {
      "main": [
        [
          {
            "node": "❓ User Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ User Exists?": {
      "main": [
        [
          {
            "node": "🔀 Merge User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "➕ Create User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➕ Create User": {
      "main": [
        [
          {
            "node": "📊 Create State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Create State": {
      "main": [
        [
          {
            "node": "🔧 Prepare User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prepare User Data": {
      "main": [
        [
          {
            "node": "🔀 Merge User",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Merge User": {
      "main": [
        [
          {
            "node": "📋 Get State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get State": {
      "main": [
        [
          {
            "node": "🔀 Route Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route Logic": {
      "main": [
        [
          {
            "node": "❓ Onboarding?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Onboarding?": {
      "main": [
        [
          {
            "node": "🎯 Onboarding Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📜 Get History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Onboarding Handler": {
      "main": [
        [
          {
            "node": "❓ Skip Main Chain?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ Save Feature (Onb)?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ Start Course?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ Show Full Task?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ Set Awaiting Report?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ Save Report?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Skip Main Chain?": {
      "main": [
        [],
        [
          {
            "node": "❓ Save Name?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Save Feature (Onb)?": {
      "main": [
        [
          {
            "node": "💾 Save Feature (Onb)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "💾 Save Feature (Onb)": {
      "main": [
        [
          {
            "node": "✅ Set Onboarded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Set Onboarded": {
      "main": [
        [
          {
            "node": "❓ Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Save Name?": {
      "main": [
        [
          {
            "node": "💾 Save Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Save Style?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save Name": {
      "main": [
        [
          {
            "node": "❓ Save Style?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Save Style?": {
      "main": [
        [
          {
            "node": "💾 Save Style",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Save Slide (Onb)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save Style": {
      "main": [
        [
          {
            "node": "❓ Save Slide (Onb)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Save Slide (Onb)?": {
      "main": [
        [
          {
            "node": "✨ Enhance Slide Place",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Save Morning?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✨ Enhance Slide Place": {
      "main": [
        [
          {
            "node": "💾 Save Slide (Onb)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save Slide (Onb)": {
      "main": [
        [
          {
            "node": "❓ Save Morning?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Save Morning?": {
      "main": [
        [
          {
            "node": "✨ Enhance Slide People",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Save Evening?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✨ Enhance Slide People": {
      "main": [
        [
          {
            "node": "💾 Save Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save Morning": {
      "main": [
        [
          {
            "node": "❓ Save Evening?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Save Evening?": {
      "main": [
        [
          {
            "node": "✨ Enhance Slide Feeling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Update Step?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✨ Enhance Slide Feeling": {
      "main": [
        [
          {
            "node": "💾 Save Evening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save Evening": {
      "main": [
        [
          {
            "node": "❓ Needs Slide Preview?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Needs Slide Preview?": {
      "main": [
        [
          {
            "node": "📋 Load Full State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Update Step?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Load Full State": {
      "main": [
        [
          {
            "node": "✨ Enhance Full Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✨ Enhance Full Slide": {
      "main": [
        [
          {
            "node": "📤 Send Slide Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Update Step?": {
      "main": [
        [
          {
            "node": "📊 Update Step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Update Step": {
      "main": [
        [
          {
            "node": "❓ Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📜 Get History": {
      "main": [
        [
          {
            "node": "📋 Get Course Task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get Course Task1": {
      "main": [
        [
          {
            "node": "🔧 Build LLM Context2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Build LLM Context2": {
      "main": [
        [
          {
            "node": "🤖 DeepSeek API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 DeepSeek API": {
      "main": [
        [
          {
            "node": "🎯 Parse Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Parse Actions": {
      "main": [
        [
          {
            "node": "❓ Has Slide?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Slide?": {
      "main": [
        [
          {
            "node": "💾 Save Slide (DS)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Has Feature Request?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ Change Name?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ Change Style?",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 Save User Msg",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 Save Bot Msg",
            "type": "main",
            "index": 0
          },
          {
            "node": "📤 Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save Slide (DS)": {
      "main": [
        [
          {
            "node": "❓ Has Feature Request?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ Change Name?",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓ Change Style?",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 Save User Msg",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 Save Bot Msg",
            "type": "main",
            "index": 0
          },
          {
            "node": "📤 Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Feature Request?": {
      "main": [
        [
          {
            "node": "💾 Save Feature Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "❓ Change Name?": {
      "main": [
        [
          {
            "node": "💾 Save New Name",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "❓ Change Style?": {
      "main": [
        [
          {
            "node": "💾 Save New Style",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "❓ Start Course?": {
      "main": [
        [
          {
            "node": "🚀 Start Course RPC",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "❓ Show Full Task?": {
      "main": [
        [
          {
            "node": "📋 Get Task For Button",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "📋 Get Task For Button": {
      "main": [
        [
          {
            "node": "📤 Send Full Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Set Awaiting Report?": {
      "main": [
        [
          {
            "node": "💾 Set Awaiting Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❓ Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Set Awaiting Report": {
      "main": [
        [
          {
            "node": "❓ Has Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Save Report?": {
      "main": [
        [
          {
            "node": "🔄 Save Report RPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Save Report RPC": {
      "main": [
        [
          {
            "node": "🔧 Build Report Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Text?": {
      "main": [
        [
          {
            "node": "📤 Send Onboarding Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Build Report Context": {
      "main": [
        [
          {
            "node": "🤖 DeepSeek Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 DeepSeek Report": {
      "main": [
        [
          {
            "node": "📤 Send Report Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}